# Prevent export of dev files
/tests export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/README.md export-ignore
/bin export-ignore

# Ensure line endings are normalized
*.php text
*.md text
*.json text
*.yml text
